#################
## GitHub
#################

GitHub.appref-ms



#################
## Delphi
#################

MainCentralControl.exe
batch.bat



#################
## Python
#################

out.txt
